* {
    margin: 0;
    padding: 0;
    font-family:'popins',sans-serif;
}
body{
    background-color: black;
}

.main {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
}

nav {
    display: flex;
    margin: auto;
    max-width: 50vw;
    align-items: center;
    justify-content: space-between;

}

nav img {
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    position: relative;

}
.hero-buttons{
    padding: 0px 9px 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
}
.hero :nth-child(1){
    font-family: "gf_Poppins variant10", Tofu;
    font-size: 30px;

}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}
.hero button{
    background-color: red;
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;

    

}
.main input{
    padding:0px 3px 20px 0px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.2);
}
.btn-red{
    background-color: red;
    color: white;
    border-radius: 4px;

}
.btn-red-sm{
    background-color: red;
    color: white;

}